a {
    float: left;
    color: white;
    text-align: center;
    padding: 10px 10px;
    text-decoration: none;
    font-size: 25px;
    font-family: cursive;
  }

  a.active {
    background-color: #40A4F7;
    color: white;
  }