
    <h2>Do you want to add to cart ? </h2>
        <button class="btn btn-danger mr-2" *ngIf="!user" (click)="register()" style="margin-left: 450px; border-radius: 5px; margin-bottom: 30px;">Register</button>       
        <button class="btn btn-primary" *ngIf="!user" (click)="login()" style="margin-left: 50px; border-radius: 5px; margin-bottom: 30px;">Login</button>

    
<div class="row">
    
  
    <div class="col-md-10">
      <app-product-listhome></app-product-listhome>
    </div>
  
    
  </div>
